body{  
    height: 100vh;
    background-image: linear-gradient(rgb(234, 239, 241),rgb(94, 94, 183))

}
.logo{
    display: block ;
    margin:auto;
    width: 130px;
    height:62px;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
    margin-top:  0px;
}
.container{
    max-width: 68%;
    /* background-color: rgb(112, 161, 161); */
    margin: auto;
    height: 68vh;
    overflow-y: auto;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 12px;

    
}
.message{
    background-color: rgb(84 166 107 / 63%);
    width: 40%;
    margin: 12px 8px;
    height: 45px;
    padding: 8px;
    /* border: 2px solid; */
    border-radius: 10px;
}
.right{
    float: right;
    clear: both;
    background-color: #bcd5c5

}
.left{
    float: left;
    clear: both;
    background-color: rgb(159 154 181);

}
#send-container{
    display: block;
    text-align: center;
    margin: auto;
    max-width: 1009px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
#messageinp{
    width: 50%;
    height: 3vh;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px;
    font-size: 2.5vh;
    font-family: serif;

}
.btn{
    cursor: pointer;
    width: 80px;
    height: 33px;
    border: 2px solid;
    border-radius: 8px;
    margin-left: 20px;
    font-size: 20px;
}
.btn:hover {
    background-color: rgb(111, 200, 198);
    font-size: 20px;
    border: 0px;
}
