<nav>
        <img  class="logo" src="orange.png" alt="">
    </nav>
    <div class="container">
        <div class="right message">I:jo hum text karenge</div>
        <div class="left message">client:jo text aayega</div>
        
    </div>
    <div class="send">
        <form action="#" id="send-container">
            <input type="text" name="messageinp" id="messageinp">
            <button class="btn" type="submit">send</button>

        </form>
    </div>
    